.navbar a{
    color: white;
    font-family: poppins;
}

.navbar a:hover{
    color: #80a2ff
}    

.dropdown-menu a:hover{
    background-color: #1a1a1a;
}

body{
    background-color: #212529;
}

.navbar-toggler{
    border-color: #696868;
  } 

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


.col{
    padding-right: 0%;
}  